<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brickman.app"
    android:versionCode="4"
    android:versionName="1.0.3">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeDay">
        <activity
            android:name=".module.main.SpalishActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.main.LoginActivity"
            android:theme="@style/AppTheme.ColorActionBar" />
        <activity
            android:name=".module.main.WelcomeGuideActivity"
            android:theme="@style/AppTheme.ColorActionBar" />
        <activity
            android:name=".module.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ColorActionBar" />
        <activity
            android:name=".module.brick.TopActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ColorActionBar" />
        <activity
            android:name=".module.main.WebActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ColorActionBar" />
        <activity
            android:name=".module.brick.PublishListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ColorActionBar" />
        <activity
            android:name=".module.brick.ImageSwitcherActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ColorActionBar" />
        <activity
            android:name=".module.mine.FlowerListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ColorActionBar" />
        <activity
            android:name=".module.mine.BricksListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ColorActionBar" />
        <activity
            android:name=".module.mine.CityActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ColorActionBar" />
        <activity
            android:name=".module.mine.PublishActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ColorActionBar" />
        <activity
            android:name=".module.mine.UserInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ColorActionBar" />
        <activity
            android:name=".module.main.PermissionsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ColorActionBar" />
        <activity
            android:name=".module.brick.BrickDetailActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ColorActionBar" />

        <!-- 友盟社会化分享 -->
        <!-- 分享内容编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <!-- TODO .... -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="579816f3e0f55a6988000f7a" />

        <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- QQ、Qzone -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105593438" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="2e831850dad606d2706a7828d4c52bc3" />

        <service android:name="com.amap.api.location.APSService" />

        <!-- 版本更新 -->
        <service
            android:name=".module.update.DownloadService"
            android:exported="true" />

        <activity
            android:name=".module.mine.MessageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ColorActionBar" />

    </application>

</manifest>