*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
/social_sdk_library_project/build/
social_sdk_library_project/build/generated/
social_sdk_library_project/build/intermediates/bundles/release/aapt/
social_sdk_library_project/build/intermediates/bundles/release/aidl/
social_sdk_library_project/build/intermediates/bundles/release/assets/
social_sdk_library_project/build/intermediates/bundles/release/jni/
social_sdk_library_project/build/intermediates/bundles/release/libs/
social_sdk_library_project/build/intermediates/bundles/release/res/anim/
social_sdk_library_project/build/intermediates/bundles/release/res/layout-h500dp-normal-v13/
social_sdk_library_project/build/intermediates/bundles/release/res/layout-sw550dp-large-v13/
social_sdk_library_project/build/intermediates/bundles/release/res/layout/
social_sdk_library_project/build/intermediates/bundles/release/res/raw/
social_sdk_library_project/build/intermediates/bundles/release/res/values/
social_sdk_library_project/build/intermediates/classes/
social_sdk_library_project/build/intermediates/dependency-cache/
social_sdk_library_project/build/intermediates/incremental-safeguard/
social_sdk_library_project/build/intermediates/incremental/
social_sdk_library_project/build/intermediates/jniLibs/
social_sdk_library_project/build/intermediates/lint/
social_sdk_library_project/build/intermediates/rs/
social_sdk_library_project/build/intermediates/shaders/
social_sdk_library_project/build/intermediates/transforms/
social_sdk_library_project/build/tmp/
/README.md
app/libs/
app/src/main/java/com/brickman/app/common/data/
app/src/main/java/com/brickman/app/common/lbs/
app/src/main/java/com/brickman/app/common/umeng/auth/
app/src/main/java/com/brickman/app/module/
projectFilesBackup/
